{% extends "base.html" %}

{% block content %}
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix genricContent">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>개인정보처리방침</h3>
              <p>개인정보란 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보 또는 당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 결합하여 특정 개인을 용이하게 식별할 수 있는 개인의 정보를 말합니다.
                퍼즐(이하 ‘당사’라 합니다)은 당사가 운영하는 인터넷사이트(www.stockdesign.co.kr 이하 “스톡디자인”) 고객의 개인정보를 매우 중요시하며, 고객의 개인정보를 보호하여 개인정보 유출로 인한 피해가 발생하지 않도록 하겠다는 의지에서 ‘정보통신망 이용촉진 및 정보보호에 관한 법률’ 상의 개인정보보호규정 및 정보통신부에서 제정한 개인정보보호지침 제7조에 의거하여 개인정보취급방침을 작성하였으며 이를 명시합니다.
                당사의 개인정보취급방침은 개인정보보호와 관련한 법률 또는 지침의 변경, 당사 정책의 변화에 따라 변경될 수 있으므로, 회원께서는 당사 사이트 방문 시 수시로 확인하여 주시기 바랍니다.</p>
              <p>- 스톡디자인 개인정보취급방침 시행일자 : 2017년 3월 10일</p>

              <h4>01. 개인정보 수집에 대한 동의</h4>
              <p>당사는 최초 회원가입 시 개인정보취급방침 또는 이용약관의 내용에 대해 「동의함」버튼을 클릭할 수 있는 절차를 마련하여, 동의의 의사표시가 있는 경우 개인정보의 수집에 동의한 것으로 봅니다.</p>

              <h4>02. 개인정보 수집•이용 목적 및 항목, 수집방법</h4>
              <p>가. 당사가 개인정보를 수집하는 목적은 회원의 신분과 서비스 이용의사를 확인하여 최적화되고 맞춤화된 서비스를 제공하기 위함입니다.</p>
              <p>나. 당사는 최초 회원가입 시 서비스 제공을 원활하게 하기 위해 필요한 최소한의 정보만을 받고 있으며 당사가 제공하는 서비스 이용에 따른 대금결제, 배송 및 환불에 필요한 정보를 추가로 수집할 수 있습니다.</p>
              <p>당사는 개인정보의 기본 수집이용목적 이외에 다른 용도로 이를 이용하거나 회원의 동의 없이 제3자에게 이를 제공하지 않습니다.</p>
              <p>다. 당사는 다음과 같은 목적으로 개인정보를 수집하며 이용합니다.</p>
              <p>1) 성명, 주민등록번호, 비밀번호, 휴대폰 번호 : 당사가 제공하는 서비스의 이용에 따르는 본인확인, 연령제한 서비스 제공 등</p>
              <p>2) 대표자명, 사업자등록번호, 사업자연락처 : 사업자 회원 서비스를 제공하기 위함 등</p>
              <p>3) 이메일주소, 전화번호, 이동전화번호, 주소 : 회원간 거래의 원활한 진행, 본인의사의 확인, 불만처리, 새로운 정보와 고지사항의 안내 등</p>
              <p>4) 신용카드정보, 은행계좌정보 : 대금결제서비스의 제공 등</p>
              <p>5) IP Address, 방문일시 : 불량회원의 부정 이용 방지, 비인가 사용 방지 등</p>
              <p>6) 그 외 선택항목 : 회원의 특성에 맞는 서비스 제공을 위한 자료 등</p>
              <p>7) 아이핀(I-PIN)번호, 생년월일, 성명, 연계정보 : 아이핀(I-PIN)인증 가입자의 본인확인, 민원사항처리, 연령제한 서비스 제공 등</p>
              <p>라. 당사는 회원의 개인정보를 수집할 경우 반드시 회원의 동의를 얻어 수집하며, 회원의 기본적 인권을 침해할 우려가 있는 인종, 출신지, 본적지, 사상, 정치적 성향, 범죄기록, 건강상태 등의 정보는 회원의 동의 또는 법령의 규정에 의한 경우 이외에는 수집하지 않습니다.</p>
              <p>마. 당사는 다음과 같은 방법으로 개인정보를 수집합니다.</p>
              <p>1) 홈페이지, 서면양식, 팩스, 전화, 고객센터 문의하기</p>
              <p>2) 생성정보 수집 툴을 통한 수집</p>

              <h4>03. 쿠키(Cookie)의 운용 및 활용</h4>
              <p>가. 당사는 이용자의 편의를 위하여 쿠키(Cookie)를 운용합니다. 쿠키는 웹사이트가 귀하의 컴퓨터 브라우저로 전송하는 소량의 정보입니다. 이용자가 웹사이트에 접속을 하면 서비스제공자의 컴퓨터는 이용자의 브라우저에 있는 쿠키의 내용을 읽고 이용자의 추가정보를 자신의 컴퓨터에서 찾아 접속에 따른 ID, 패스워드 등의 추가입력 없이 서비스를 제공할 수 있습니다. 단, 쿠키는 이용자의 컴퓨터는 식별하지만 이용자를 개인적으로 식별하지는 않습니다.</p>
              <p>나. 이용자는 쿠키에 대한 선택권을 가질 수 있습니다. 웹 브라우저 상단의 도구 > 인터넷옵션 탭(option tab)에서 의 옵션을 조정함으로써 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권이 있습니다. 다만, 쿠키설정을 거부할 경우 쿠키허용 설정이 필요한 서비스는 받을 수 없는 경우도 있습니다.</p>

              <h4>04. 개인정보의 목적 외 이용 및 제3자 제공</h4>
              <p>가. 당사는 회원의 개인정보를「개인정보 수집•이용 목적 및 항목」에서 고지한 범위 내에서 사용하며 동 범위를 초과하여 이용하거나 원칙적으로 제3자에게 제공하지 않습니다.</p>
              <p>나. 다만 다음의 경우에는 합당한 절차를 통한 회원의 동의를 얻어 개인정보를 제공 또는 이용할 수 있습니다.</p>
              <p>1) 제휴관계 : 보다 나은 서비스 제공을 위하여 당사는 회원의 개인정보를 제휴사에 제공할 수 있습니다. 이 경우 사전에 회원에게 제휴사, 제공되는 개인정보의 항목, 개인정보 제공 목적, 제공기간, 개인정보보호방안 등에 대해서 개별적으로 동의를 구하는 절차를 거치게 되며, 회원의 동의가 없는 경우에는 제휴사에게 이를 제공하지 않으며, 제휴관계의 변화 또는 종결될 경우에도 고지합니다. 또한 제휴관계가 종결될 경우 제공된 개인정보에 대해서는 회원님의 동의가 없는 경우 지체 없이 파기하도록 조치하며 개인정보 제공에 동의하더라도 언제든지 그 동의를 철회할 수 있습니다.</p>
              <p>2) 위탁처리 : 원활한 업무처리와 회원에게 보다 나은 서비스 제공을 위하여 회원의 개인정보를 위탁하여 처리할 수 있으며, 이 경우 반드시 사전에 위탁처리 업체명과 목적, 위탁처리 되는 개인정보의 범위, 위탁기간 등에 대해 상세하게 고지합니다.</p>
              <p>3) 매각, 인수합병 : 서비스 제공자의 권리, 의무가 승계 또는 이전되는 경우 이를 반드시 사전에 고지하며 회원의 개인정보에 대한 동의철회의 선택권을 부여합니다.</p>
              <p>다. 다음은 예외로 합니다.</p>
              <p>1) 관계법령에 특별한 규정이 있는 경우</p>
              <p>2) 서비스 제공에 따른 요금정산을 위하여 필요한 경우</p>
              <div class="table-responsive">
                 <table class="table">
                   <thead>
                     <tr>
                       <th>제공받는자</th>
                       <th>이용목적</th>
                       <th>제공항목</th>
                       <th>보유항목</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td class="col-xs-2">(주)이니시스</td>
                       <td class="col-xs-2">계좌이체/결제처리</td>
                       <td class="col-xs-4">아이디,주민등록번호,출금은행,출금 계좌번호,계좌비밀번허,이메일주소,연락처</td>
                       <td class="col-xs-2">관계법령에따른 보관기간까지</td>
                     </tr>
                     <tr>
                       <td class="col-xs-2">(주)이니시스</td>
                       <td class="col-xs-2">신용카드/결제처리</td>
                       <td class="col-xs-4">아이디,성명,카드사,카드번호,카드유효기간,인터넷프로토콜,ISP카드코드 또는 안심클릭 CAVV/XD</td>
                       <td class="col-xs-2">관계법령에따른 보관기간까지</td>
                     </tr>
                   </tbody>
                 </table>
               </div>

              <h4>05. 개인정보의 열람 및 정정</h4>

              <p>가. 회원은 언제든지 등록되어 있는 개인정보를 열람하거나 정정할 수 있습니다. 단, ID, 성명, 주민(사업자)등록번호는 정정이 불가능하나 개명으로 인한 성명 변경 및 행정상의 문제로 인한 주민등록번호 변경은 예외적으로 가능합니다.</p>
              <p>나. 개인정보 열람 및 정정을 하고자 할 경우에는 로그인 후 사이트 상단의 ‘내 프로필’ 에서 언제든지 열람, 정정할 수 있으며, 당사 고객센터 또는 개인정보관리 책임자 및 담당자에게 서면, 전화, FAX 또는 E-mail로 연락하시면 즉각 조치합니다.</p>
              <p>다. 회원이 개인정보 오류에 대한 정정을 요청한 경우 정정을 완료하기 전까지 해당 개인정보를 이용, 제공하지 않으며, 수정된 정보는 수정 절차가 완료된 시점부터 바로 적용 됩니다. 제3자에게 기 제공된 정보에 대해서도 지체 없이 통보하여 정정하도록 조치하나 정정 조치에 상당한 시간이 필요할 수 있습니다.</p>

              <h4>06. 개인정보 수집, 이용, 제공에 대한 동의철회</h4>
              <p>가. 회원가입 등을 통한 개인정보의 수집, 이용, 제공에 대하여 회원은 가입시 동의한 내용을 언제든지 철회할 수 있습니다.</p>
              <p>나. 동의철회는 개인정보관리책임자 및 담당자에게 서면, 전화, FAX, E-mail 등으로 연락하시면 즉시 개인정보의 삭제 등 필요한 조치를 합니다.</p>
              <p>다. 당사는 개인정보의 수집에 대한 동의철회를 개인정보를 수집하는 방법보다 쉽게 할 수 있도록 필요한 조치를 취합니다.</p>

              <h4>07. 개인정보의 보유기간 및 이용기간</h4>
              <p>가. 당사가 회원의 개인정보를 수집하는 경우 그 보유기간은 원칙적으로 회원가입 후 구매회원약관 제10조에 의한 이용계약 종료시, 디자이너회원약관 제 10조에 의한 해지시까지 이며, 이용계약이 종료할 경우 당사는 회원의 개인정보를 즉시 파기하며 제3자에게 기 제공된 정보에 대해서도 지체 없이 파기하도록 조치합니다. (단, 재가입유예기간 동안의 재가입 방지 등을 위해 이용계약이 종료한 날로부터 2개월 경과 후에 파기하도록 합니다.) 또한, 다음의 경우 각각 명시한 기간 동안 개인정보를 보유합니다.</p>
              <p>1) 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우 법령에서 규정한 보존기간 동안 거래내역과 최소한의 기본정보를 보유</p>
              <p>2) 보유기간을 미리 공지하고 그 보유기간이 경과하지 아니한 경우와 개별적으로 회원의 동의를 받을 경우에는 약정한 기간 동안 보유</p>
              <p>3) 다음의 경우 명시한 기간 동안 개인정보를 보유</p>
              <p>- 계약 또는 청약철회 등에 관한 기록 : 5년</p>
              <p>- 대금결제 및 용역 등의 공급에 관한 기록 : 5년</p>
              <p>- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년</p>
              <p>나. 회사는 고객의 개인정보를 보호하여 개인정보 유출로 인한 피해가 발생하지 않도록 하기 위하여 다음과 같은 방법을 통하여 개인정보를 파기합니다.</p>
              <p>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
              <p>- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
              <p>다. 회원의 동의를 받아 보유하고 있는 개인정보에 대한 당해 회원의 열람요구가 있을 경우 당사는 지체 없이 이를 열람, 확인할 수 있도록 조치합니다.</p>

              <h4>08. 개인정보 보호를 위한 기술적•관리적 대책</h4>
              <p>가. 기술적 대책</p>
              <p>당사는 회원의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조, 훼손 되지 않도록 안정성 확보를 위하여 아래와 같은 기술적 대책을 마련하고 있습니다.</p>
              <p>1) 첨단보안시스템 설치</p>
              <p>회원의 개인정보를 보호하기 위해 모든 네트워크에는 칩입차단시스템(방화벽) 및 침입탐지시스템을 설치하여 접근제어 및 24시간 모니터링을 수행하고 있습니다. 또한 DB 보안 시스템을 구축하여 개인정보처리시스템에 대한 접근 제어 및 24시간 모니터링을 실시하고 있습니다.</p>
              <p>2) 생일, 전화번호 등 타인이 추측하기 쉬운 숫자 등을 패스워드로 이용하지 않도록 패스워드 생성규칙을 수립하여 적용하고 있습니다.</p>
              <p>3) 모든 임직원의 PC는 바이러스 백신 프로그램을 의무적으로 설치하여 사용하고 있으며, P2P 프로그램 등의 사용을 금지하고 있습니다.</p>
              <p>4) SSL 보안시스템</p>
              <p>등록 시 입력한 정보 및 개인정보를 입력할 경우에는 Verisign에서 인증하는 128Bit SSL (Secure Socket Layer) Protocol에 의해 암호화 하여 당사에 전송되도록 하여 네트워크 상의 개인정보를 안전하게 전송할 수 있도록 관리하고 있습니다.</p>
              <p>나. 관리적 대책</p>
              <p>1) 당사는 회원의 개인정보에 대한 접근 권한을 서비스 제공을 위해 필요한 최소한의 인원으로 제한하고 있습니다. 업무 특성상 개인정보를 취급할 수 있는 최소한의 인원에 해당하는 자는 다음과 같습니다.</p>
              <p>- 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자.</p>
              <p>- 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자.</p>
              <p>- 기타 업무상 개인정보의 취급이 불가피한 자.</p>
              <p>2) 퇴사 또는 부서 이동 등 개인정보취급자가 변경될 경우 즉시 해당 계정을 통한 개인정보 접근 권한을 말소하고 있습니다. 또한 개인정보를 취급하는 직원을 대상으로 정기적인 개인정보보안/관리 교육을 실시하고 있으며 이를 통해 개인정보취급자들이 항상 최상의 보안마인드를 가지도록 합니다.</p>
              <p>3) 전 직원을 대상으로 개인정보 유출방지에 대한 보안서약서를 작성하고 있으며, 사내 보안시스템을 통해 직원에 의한 정보유출을 사전에 방지하고 있습니다. 또한 정기적으로 개인정보취급방침과 관련하여 이행사항 및 준수 여부를 검사하고 있습니다.</p>
              <p>4) 개인정보관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 이루어지며, 입사 및 퇴사 이후 개인정보 사고에 대한 책임을 명확히 하고 있습니다.</p>

              <h4>09. 링크 사이트에 대한 책임한계</h4>
              <p>당사는 회원에게 다른 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 당사는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로, 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. 당사가 포함하고 있는 링크를 클릭(click)하여 다른 사이트(site)로 옮겨 갈 경우 해당 사이트의 개인정보취급방침은 당사와 무관하므로 회원은 새로 방문한 사이트의 개인정보취급방침을 반드시 검토해 보시기 바랍니다.</p>

              <h4>10. 개인정보의 위탁관리</h4>

              <p>가. 당사는 원활한 고객서비스 및 관리를 위하여 회원에게 사전고지 후 개인정보를 제한된 범위에서 타 업체에 위탁하여 관리하도록 할 수 있습니다.</p>

              <p>나. 당사는 개인정보의 처리와 관련하여 아래와 같이 업무를 위탁하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 조치를 하고 있습니다. 또한 위탁처리 하는 정보는 원활한 고객서비스를 제공하기 위해 필요한 최소한의 정보에 국한됩니다.</p>
              <div class="table-responsive">
                 <table class="table">
                   <thead>
                     <tr>
                       <th>수탁자</th>
                       <th>위탁목적</th>
                       <th>개인정보 제공범위</th>
                       <th>위탁디간</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td class="col-xs-2">NICE신용평가정부(주)</td>
                       <td class="col-xs-2">실명/본인인증</td>
                       <td class="col-xs-4">주민번호,이름</td>
                       <td class="col-xs-2">인증완료 또는 관계법령에 따른 보관기한까지</td>
                     </tr>
                     <tr>
                       <td class="col-xs-2">(주)이니시스</td>
                       <td class="col-xs-2">실명/계좌인증</td>
                       <td class="col-xs-4">주민등록번호,이름,예금주,은행명,계좌번호</td>
                       <td class="col-xs-2">인증완료 또는 관계법령에 따른 보관기한까지</td>
                     </tr>
                     <tr>
                       <td class="col-xs-2">NICE신용평가정부(주)</td>
                       <td class="col-xs-2">아이핀(i-PIN),중복가입확인정보 및 연계정보 확인</td>
                       <td class="col-xs-4">주민등록번호</td>
                       <td class="col-xs-2">인증완료 또는 관계법령에 따른 보관기한까지</td>
                     </tr>
                   </tbody>
                 </table>
               </div>
              <p>다. 위탁처리 업체와의 위탁계약 시 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 및 사고시의 책임부담, 위탁기간, 처리 종료후의 개인정보의 반환 또는 파기 등을 명확히 규정하고 당해 계약내용을 서면 또는 전자적으로 보관합니다.</p>

              <h4>11. 개인정보 보호를 위한 이용자의 주의사항</h4>
              <p>가. 당사의 회원 개인정보는 비밀번호에 의해 보호되고 있습니다. 회원은 비밀번호를 누구에게도 알려주어서는 안되며 본인의 유출에 따른 책임은 회원 자신이 지게 되오니 각별히 유의해 주시기 바랍니다. 당사는 결코 전화나 전자우편으로 회원의 비밀번호를 묻지 않으며 이러한 일이 있는 경우에는 당사 고객센터 또는 개인정보관리책임자에게 신고하여 주시기 바랍니다.</p>
              <p>나. 당사의 서비스를 이용한 후에는 반드시 회원의 계정을 종료하고 웹브라우저의 창을 닫아 주시기 바랍니다. 이는 회원이 다른 사람과 컴퓨터를 공유하여 사용하거나, 인터넷카페, PC방, 도서관과 같은 공공장소에서 컴퓨터를 사용하는 경우 타인이 회원의 개인정보 및 통신내역을 볼 수 없도록 하기 위함입니다.</p>
              <p>다. 회원은 불의의 사고를 예방하기 위하여 자신의 개인정보를 최신의 상태로 유지하는 것이 필요하며, 회원의 부정확한 정보 입력으로 발생하는 사고의 책임은 회원 자신에게 있습니다.</p>
              <p>라. 타인의 주민등록번호를 도용하여 회원가입 또는 거래 시, 회원자격 상실과 함께 주민등록법에 의거하여 3년 이하의 징역 또는 1천만원 이하의 벌금이 부과될 수 있습니다.</p>

              <h4>12. 의견수렴 및 불만처리</h4>
              <p>가. 당사는 개인정보와 관련한 회원의 의견을 소중하게 생각하며, 개인정보 관련 문의에 대하여 언제나 성실한 답변을 하고자 합니다.</p>
              <p>나. 당사는 회원과의 원활한 의사소통을 위해 고객센터를 운영하고 있으며 상세사항은 다음과 같습니다.</p>
              <p>[개인정보보호센터]</p>
              <p>전화 : 010-4807-4237</p>
              <p>FAX : 010-4807-4237</p>
              <p>E-mail : stockdesign.off@gmail.com</p>
              <p>주소 : 대전광역시 동구 용운동 662 가온 301호 (스톡디자인)</p>
              <p>다. 고객센터 전화상담 시간은 평일 11:00~17:00까지로 토요일 및 공휴일은 운영하지 않습니다.</p>
              <p>라. 기타 개인정보에 관한 상담이 필요한 경우에는 개인정보침해신고센터, 대검찰청 인터넷범죄수사센터, 경찰청 사이버테러대응센터 등으로 문의하실 수 있습니다.</p>
              <p>개인정보침해신고센터</p>
              <p>전화 : (국번없이)1301/휴대전화:지역번호+1301</p>
              <p>URL : http://www.cyberprivacy.or.kr</p>
              <p>대검찰청 인터넷범죄수사센터</p>
              <p>전화 : 02-3480-3600</p>
              <p>URL : http://www.spo.go.kr</p>
              <p>경찰청 사이버테러대응센터</p>
              <p>전화 : 02-393-9112</p>
              <p>URL : http://www.netan.go.kr</p>

              <h4>13. 아동의 개인정보보호</h4>
              <p>당사는 회원 가입을 만14세 이상인 경우에 가능하도록 하여, 개인정보의 수집•이용에 법정대리인의 동의가 필요한 만14세 미만 아동의 개인정보는 수집하지 않습니다.</p>

              <h4>14. 광고성 정보 전송의 제한</h4>
              <p>가. 당사는 회원의 명시적인 수신거부 의사에 반하여 영리목적의 광고성 정보를 전송하지 않습니다.</p>
              <p>나. 당사는 회원이 전자우편 전송에 대한 동의를 한 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 회원이 쉽게 알아 볼 수 있도록 조치합니다.</p>
              <p>- 전자우편의 제목란 : (광고)라는 문구를 제목란에 표시하지 않을 수 있으며, 전자우편 본문란의 주요 내용을 표시합니다.</p>
              <p>- 전자우편의 본문란 : 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편주소, 전화번호 및 주소를 명시하며 수신 거부의 의사를 쉽게 표시할 수 있는 방법 및 회원이 동의를 한 시기 및 내용을 명시합니다.</p>
              <p>다. 팩스, 휴대폰 문자전송 등 전자우편 이외의 문자전송을 통해 영리목적의 광고성 정보를 전송하는 경우에는 전송내용 처음에 (광고)라는 문구를 표기하고 전송내용 중에 전송자의 연락처를 명시하도록 조치합니다.</p>
              <p>라. 회원은 영리목적의 광고성 정보를 전송 받은 경우 언제든지 이에 대해 수신거부의 의사표시를 할 수 있고, 당사는 즉각 전송중단의 조치를 취한 후 이를 회원에게 알립니다.</p>

              <h4>15. 개인정보관리책임자 및 담당자<h4>
              <p>가. 개인정보관리책임자는 고객의 개인정보를 보호하고 유출을 방지하는 책임자로서 회원들이 안심하고 당사 서비스를 이용할 수 있도록 도와드리며 개인정보를 보호하는데 있어 회원에게 고지한 사항들에 반하여 사고가 발생할 시에는 이에 관한 책임을 집니다.</p>
              <p>나. 기술적인 보완조치를 취하였음에도 불구하고 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 멸실, 이용자가 작성한 게시물에 의한 각종 분쟁 등에 관해서는 책임이 없습니다.</p>
              <p>다. 당사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률에서 규정한 관리책임자를 다음과 같이 지정합니다.</p>
              <p>개인정보관리 책임자 및 담당자</p>
              <p>성명 : 이민형</p>
              <p>전자우편 : stockdesign.off@gmail.com</p>
              <p>전화번호 : 010-4807-4237</p>
              <p>FAX : 010-4807-4237</p>

              <h4>16. 고지의 의무</h4>
              <p>개인정보취급방침은 정부의 정책 또는 회사의 필요에 의하여 변경될 수 있으며 내용의 추가 및 삭제, 수정이 있을 시에는 홈페이지를 통해 즉시 공지하며, 이 정책은 공지한 날로부터 시행됩니다.</p>
              <p>- 스톡디자인 개인정보보호정책 시행일자 : 2017년 3월 10일</p>
              <p>고객 개인정보보호와 관련하여 의견이나 불만이 있으시면 개인정보보호책임자 및 담당자에게 문의하여 주십시오. 신속하고 정확하게 처리해 드리도록 하겠습니다.</p>
              <p>전화: 010-4807-4237</p>
              <p>혹은 E-mail : stockdesign.off@gmail.com</p>
    </div>
  </div>
</div>
</section>



{% endblock %}