{% extends "base.html" %}

{% block title %} 회원가입 {% endblock %}

{% block content %}
    <h2>{{ request.user.username }}의 페이지</h2>
    <p>이름 : {{ request.user.username }}</p>
    <p>이메일 : {{ request.user.email }}</p>

    <p>내가 쓴 글 ({{ user.post_set.count }})</p>
    <ul>
        {% for post in request.user.post_set.all %}
            <li> <a href="{% url "posts:detail" post_id=post.id %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <p>내가 쓴 댓글 ({{ user.comment_set.count }})</p>
    <ul>
        {% for comment in request.user.comment_set.all %}
            <li>
                <a href="{{ comment.get_absolut_url }}">{{ comment.content }}</a>
                on
                <a href="{% url "posts:detail" post_id=comment.post.id %}">{{ comment.post.title }}</a>

            </li>
        {% endfor %}
    </ul>
{% endblock %}