{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
        
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/application.css" %}"> <!-- load static -->
        <script type="text/javascript" src="{% static "js/application.js" %}"></script> <!-- load static -->
	</head>

	<body>
		{% include "header.html" %}
		{% block content %}
		{% endblock %}
		{% include "footer.html" %}
	</body>
</html>